.positionFixed {
  position: fixed;
  right: 10%;
  top: 87%;
  z-index: 999999;
}

#applyFilterImg {
  filter: drop-shadow(0px 8px 2px #a16a5e);
}

#filterImg {
  filter: drop-shadow(0px 8px 2px #a16a5e);
}
